.text-color-red {
	color: #9A171F !important;
}
.text-color-dark-red {
	color: #9A171F !important;
}
.text-color-blue {
	color: #2047A4 !important;
}
.text-color-gray {
	color: #3C3C3C !important;
}
.text-color-green {
	color: #227b43;
}
.text-color-light {
	color: #ADADAD;
}
.text-color-white {
	color: white;
}
.nav-link:hover {
	color: #9A171F !important;
}
.btn-color-red {
		background-color: #9A171F;
		border-color: #9A171F;
		color: white;
}
.btn-color-red:hover {
		background-color:  #9B3034;
		border-color: #9B3034;
		color: white;
}
.bg-color-red {
	background-color: #9B3034;
}
.bg-color-dark-red {
	background-color: #9A171F;
}
.bg-color-blue {
	background-color: #2047A4;
}
.bg-color-white {
	background-color: white;
}

/*Text-size*/

/*text size*/
.text-xxxsmall {
  font-size: 0.75rem !important;
}
.text-xxsmall {
  font-size: 0.9rem !important;
}
.text-xsmall {
  font-size: .95rem !important;
}
.text-header-small {
  font-size: 1.1rem !important;
}
.text-small {
  font-size: 1.2rem !important;
}
.text-medium {
  font-size: 1.3rem !important;
}
.text-xmedium {
  font-size: 1.7rem !important;
}
.text-large {
  font-size: 2rem !important;
}
.text-xlarge {
  font-size: 2.3rem !important;
}

/*text-spacing*/
.spacing-1 {
	letter-spacing: 1px;
}
.spacing-2 {
	letter-spacing: 2px;
}
.spacing-3 {
	letter-spacing: 7px;
}
.spacing-4 {
	letter-spacing: 10px;
}

/*text height*/
.text-height-1 {
line-height: 25px;
}
.text-height-2 {
line-height: 40px;
}

.font-semibold {font-weight: 500;}

#video_overlays {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 2;
  left: 0;
  right: 0;
  top: 9%;
  bottom: 0;

}
#video_box{position: relative;}
.nav-link {
	padding: 0.0rem 0rem !important;
}

.border-dash-gray {
	border-style: dashed; 
	border-color: #ADADAD;
}
.border-dash-red {
  border-style: dashed; 
  border-color: #A1000A;
}
.border-dash-white {
	border-style: dashed; 
	border-color: white;
	border-spacing: 10px !important;
}
.styled-radio label {
    border: 2px dashed #e2e6e7;
}

.col-padding {
	padding-right: 5px !important; 
	padding-left: 5px !important;
}
.col-padding-0 {
	padding-right: 0px !important; 
	padding-left: 0px !important;
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1000px) {
  .video-container-subpage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.video-container-subpage video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

@media only screen and (max-width: 1000px) {
    .video-container-subpage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
.video-container-subpage video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
footer {
	padding: 10px !important;
}
@media only screen and (max-width: 500px) {
  .mobile-margin {
    margin-top: 38% !important;
  }
}

@media only screen and (max-width: 1000px) {
 .mobile-margin {
    margin-top: 25% ;
  }
  .mobile-margin-container {
    margin-bottom:  10% !important;
  }
  .mobile-button {
  	padding:20px;
  	padding-bottom: 30px;
  	text-align: center !important;
    width: 100%;
    height: 100%;
  }
  .mobile-margin-footer{
    margin-top: 1px !important;
    padding-top: 1px !important;
    text-align: center;
  }
  .mobile-margin-footer-reserved{
    margin-top: 20px !important;
    padding-top: 20px !important;
    text-align: center;
  }
  .text-header-mobile {
    font-size: 33px;
    margin-top: 16px;
  }
  .text-subheader-mobile  {
    font-size: 12px;
    margin-bottom: 21px !important;

  }
   .col-image-size {
       width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .mobile-margin {
    margin-top: 12% !important;
  }
  .col-image-size {
    width: 75% !important;
    height: auto;
  }
  .desktop-button  {
    height:60px; margin-top: 20px; 
  }
  .text-desktop {
    padding: 10px;
  }
}
.pointer {
	cursor: pointer;
}
.logo-blue {
	color: #1944A6;
	font-family: 'Ubuntu';
}
.logo-red {
	color: #A1000A;
	font-family: 'Ubuntu';
}
.logo-green {
	color: #00A131;
	font-family: 'Ubuntu';
}


.input-icons i { 
  position: absolute; 
  } 
.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 
.icon { 
  padding: 10px; 
  min-width: 40px; 
} 
.input-field { 
  width: 100%; 
  padding: 15px; 
  text-align: left;
  padding-left: 50px;
   }

.date-icon {
right:28px;
position:absolute;
top:38px;
color: #2047A4;
}

.icon-input {
padding-right:60px !important;
}
.font-small {
  font-size: .8rem !important;
}
.icon-arrow--padding-top  {
      margin-top: 0.45rem !important;
}